<title>
  <%= gettext("%{subnetwork} %{network} Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="Provides analytics data, API, and Smart Contract tools for the SPC">
<meta name="keywords" content="blockchain, api, analytics, address, smart contract">
